<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/add.css">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
      <h1 class="titulo">Agregar Película</h1>
      <br>
      <section class="formulario">
        <form action="/movies/create" method="POST">
          <label for="title">Title </label>
          <p><input type="text" name="title" id="title" value="<%= locals.old && old.title %>" />
            <% if (locals.errors && errors.title) { %>
              <p class="text">
                <%= errors.title.msg %>
              </p>
              <% } %>
          </p>
          <label for="rating">Rating </label>
          <p><input type="number" name="rating" id="rating" value="<%= locals.old && old.rating %>" />
            <% if (locals.errors && errors.rating) { %>
              <p class="text">
                <%= errors.rating.msg %>
              </p>
              <% } %>
          </p>
          <label for="awards">Awards </label>
          <p><input type="number" name="awards" id="awards" value="<%= locals.old && old.awards %>" />
            <% if (locals.errors && errors.awards) { %>
              <p class="text">
                <%= errors.awards.msg %>
              </p>
              <% } %>
          </p>
          <label for="release_date">Release date </label>
          <p><input type="date" name="release_date" id="release_date" value="<%= locals.old && old.release_date %>" />
            <% if (locals.errors && errors.release_date) { %>
              <p class="text">
                <%= errors.release_date.msg %>
              </p>
              <% } %>
          </p>
          <label for="length">Length </label>
          <p><input type="number" name="length" id="length" value="<%= locals.old && old.release_date %>" />
            <% if (locals.errors && errors.release_date) { %>
              <p class="text">
                <%= errors.release_date.msg %>
              </p>
              <% } %>
          </p>
          <label for="">Género</label>
          <select name="genre">
            <% for (let i=0; i < genre.length; i++) { %>
              <option value="<%= genre[i].id %>">
                <%= genre[i].name %>
              </option>
              <% } %>
          </select>
          </div>

          <br>
          <p> <button class="botonAgregar" type="submit">Agregar</button>

            <a class="botonVolver" href="/movies">Listado de Películas</a>
          </p>
        </form>
      </section>

  </body>

</html>