<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/detail.css">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
      <main>

        <div class="main-top">
          <div class="titulo">
            <h1>DETALLE DE: </h1>
            <p>
              <%= detail.title %>
            </p>

          </div>
          <div class="main-movie">
            <div>
              <h3>RATING:</h3>
              <p>
                <%= detail.rating %>
              </p>
            </div>
            <div>
              <h3>PREMIOS: </h3>
              <p>
                <%= detail.awards %>
              </p>
            </div>
            <div>
              <h3> DURACION: </h3>
              <p>
                <%= detail.length + ' min' %>
              </p>
            </div>
            <div>
              <h3> ESTRENO:</h3>
              <p>
                <%= detail.release_date.toLocaleDateString('es-US')%>
              </p>
            </div>
          </div>

          <div class="detail_order">
            <h3>Genero: </h3>
            <%(detail.genre.name)%>
              </p>
          </div>

          <div class=" actor_detalle">
            <h3>Actores: </h3>
            <% for(let i=0; i < detail.actors.length; i++ ) { %>
              <li>
                <%= detail.actors[i].first_name %>
                  <%= detail.actors[i].last_name %>
                    </a>
              </li>
              <% } %>


          </div>
          <div class=botonCrud>
            <% if (!locals.user) { %>
              <button><a href="/movies">Volver al listado de peliculas</a></button>
              <% } else { %>
                <button>
                  <a href="/movies/delete/<%= detail.id %>">Eliminar película</a>
                </button>
                <a class="botonModificar" href="/movies/edit/<%= detail.id %>">Modificar Pelicula</a>
                <button><a href="/movies">Volver al listado de peliculas</a></button>
                <% } %>
          </div>


        </div>


      </main>


      <%- include('./partials/footer.ejs') %>
  </body>

</html>