<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/edit.css">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>

      <main class="form_main_container">
        <section class="form_section_container">
          <h2>Editar película: </h2>
          <article class="form_article_container">
            <form action="/movies/edit/<%= edition.id %>/update?_method=PUT" method="POST">
              <div>
                <label for="">Titulo:</label>
                <input type="text" name="title" id="title" value="<%= edition.title %>  ">
              </div>
              <div>
                <label for="">Rating:</label>
                <input type="text" name="rating" value="<%= edition.rating %> ">
              </div>
              <div>
                <label for="">Premios:</label>
                <input type="text" name="awards" value="<%= edition.awards%> ">
              </div>
              <div>
                <label for="">Fecha de estreno:</label>
                <input type="text" name="release_date" value="<%= edition.release_date.toLocaleDateString('es-US')%>"
                  autocomplete="on">
              </div>
              <div>
                <label for="">Duración:</label>
                <input type="text" name="length" value="<%= edition.length %> ">
              </div>
              <div class="generos_actores">
                <div>
                  <label for="">Género:</label>
                  <select name="generos">
                    <% genresEdit.forEach(genre=> { %>
                      <% if (edition.id===genre.id) { %>
                        <option value="<%= genre.id %>" selected>
                          <%= genre.name %>
                        </option>
                        <% } %>
                          <option value="<%= genre.id %>">
                            <%= genre.name %>
                          </option>
                          <% }) %>
                  </select>
                </div>

                <label for="">Actores:</label>
                <select name="actores">
                  <% for(let i=0; i < actorsEdit.length; i++ ) { %>
                    <li>
                      <option value="<%= actorsEdit[i].id %>">
                        <%= actorsEdit[i].first_name %>
                          <%= actorsEdit[i].last_name %>
                      </option>
                      <p>

                      </p>

                    </li>
                    <% } %>
                </select>
              </div>
              </div>
              <div class="botones">
                <input type="submit" value="Guardar cambios">
                <a class="botonHome" href="/">Home</a>
              </div>
            </form>
        </section>

        <%- include('./partials/footer.ejs') %>
  </body>

</html>