<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/movies.css">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
      <main>
        <div class="main-top">
          <div>
            <h1>LISTADO DE PELICULAS:</h1>
          </div>
          <div class="main-movie">
            <% for(let i=0; i < movies.length; i++ ) { %>
              <li>
                <a href="/movies/detail/<%= movies[i].id 
          %>">

                  <%= movies[i].title %>
                </a>
              </li>
              <% } %>


          </div>
        </div>


      </main>


      <%- include('./partials/footer.ejs') %>
  </body>

</html>